@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.UserLogOut {
    font-size: 1.5vmin;
    color: palevioletred;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(3, 3, 3, 0.5);
    }
    
    .UserLogOut .email {
      font-size: smaller;
      font-family: 'Press Start 2P', cursive;
    }