@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.MenuList {
    border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    max-height: 845px;
    overflow-y: auto;
    }

.Search{
  font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    color: rgb(220, 102, 169);
}   

.Album {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: palevioletred;
  
    .AlbumArtwork {
      width: 100px; 
      height: auto;
      margin-right: 1rem;
    }
  
    .AlbumDetails {
      h3 {
        margin: 0;
        font-size: 1rem;
        font-family: 'Press Start 2P', sans-serif

      }
  
      p {
        margin: 0;
        font-size: 0.8rem;
        color: #888;
      }
  
      button {
        background-color: palevioletred;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 0.8rem;
      }
    }
  }
  
  