@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    border-top: .1vmin solid var(--tan-3);
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    }
    
    .LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
    }
    
    .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    }
    
    .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
    color: palevioletred;
    }
    
    .LineItem button {
    margin: 0;
    }

    img {
      width: 100px; 
      height: auto;
      margin-left: 4rem;
    }

    .LineItem .order-album {
      font-size: 1rem;
      color: palevioletred;
    }

    .LineItem .artist {
      color: #888;
    }